.header {
  align-items: center;
  background: var(--color-background);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    transition: color 150ms ease-out;
    width: 64px;

    &:active {
      color: var(--color-text-muted);
      transition: none;
    }
  }
}

.wrapper {
  position: relative;

  video {
    width: 100%;
  }
}

.capturing {
  inset: 0;
  position: absolute;
}

.blink {
  animation: blink 150ms linear 1;
}

@keyframes blink {
  0% {
    background: transparent;
  }

  25% {
    background: var(--color-background);
  }

  100% {
    background: transparent;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 64px;
}

.capture {
  border: 3px solid var(--color-text);
  border-radius: 50%;
  height: 64px;
  width: 64px;

  &:active {
    span {
      height: 58px;
      width: 58px;
    }
  }

  span {
    background: var(--color-text);
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    transition:
      height 100ms ease-out,
      width 100ms ease-out;
    width: 50px;
  }
}
