/* From https://cssloaders.github.io */
.loader {
  animation: rotation 1s linear infinite;
  border: 4px solid var(--color-text);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  width: 32px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
