.header {
  align-items: center;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 64px;
}

.capture {
  border: 3px solid var(--color-text);
  border-radius: 32px;
  height: 64px;
  width: 64px;

  span {
    background: var(--color-text);
    border-radius: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
}
