.header {
  align-items: center;
  background: var(--color-background);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }
}

.wrapper {
  position: relative;

  video {
    width: 100%;
  }
}

.capturing {
  inset: 0;
  position: absolute;
}

.blink {
  animation: blink 150ms linear 1;
}

@keyframes blink {
  0% {
    background: transparent;
  }

  25% {
    background: var(--color-background);
  }

  100% {
    background: transparent;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 64px;
}

.capture {
  border: 3px solid var(--color-text);
  border-radius: 32px;
  height: 64px;
  width: 64px;

  span {
    background: var(--color-text);
    border-radius: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
}
