.temp {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  align-items: center;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: var(--content-padding);
  }
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 var(--content-padding);
  scroll-snap-type: y mandatory;

  pre {
    scroll-snap-align: start;

    &:first-child {
      margin-top: 32px;
      padding-top: 16px;
    }

    &:last-child {
      scroll-snap-align: end;
      margin-bottom: 32px;
      padding-bottom: 16px;
    }
  }
}

.footer {
  border-top: 1px solid var(--color-border);
  display: flex;
  padding: 16px;

  img {
    border-radius: 4px;
    margin-right: 8px;
    width: 48px;
  }
}
