.header {
  align-items: center;
  background: var(--color-background);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }

  h1 {
    flex-grow: 1;
    line-height: 1.1;
    overflow: hidden;
    padding-right: var(--content-padding);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.text {
  border-top: 1px solid var(--color-border);
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 var(--content-padding);
  scroll-behavior: smooth;

  pre {
    color: var(--color-text-muted);
    padding-top: 1em;
    transition: color 300ms ease-out;

    &:first-child {
      padding-top: var(--content-padding);
    }

    &:last-child {
      padding-bottom: 96px;
    }

    &.active {
      color: var(--color-text);
    }
  }

  .loaderWrapper {
    display: flex;
    justify-content: center;
    padding: 2em var(--content-padding) 96px;
  }
}

.footer {
  align-items: center;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  min-height: 106px;
  position: relative;

  .newPage {
    align-items: center;
    background: var(--color-background-accent);
    border-radius: 32px;
    top: -80px;
    display: flex;
    height: 64px;
    justify-content: center;
    position: absolute;
    right: 16px;
    width: 64px;
  }

  .currentPageNumber {
    background: var(--color-border);
    border-radius: 4px;
    line-height: 20px;
    margin: -12px 0 10px;
    font-size: 12px;
    padding: 1px 6px 0;
  }

  ul {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  li {
    align-items: center;
    display: flex;
    height: 74px;
    padding: 0 4px;
    position: relative;
    scroll-snap-align: center;

    &:first-child {
      margin-left: 50vw;
    }

    &:last-child {
      margin-right: 50vw;
    }

    &.active {
      img {
        transform: none;
      }

      svg {
        opacity: 1;
      }
    }

    img {
      border-radius: 4px;
      display: block;
      transform: scale(0.865);
      transition: transform 150ms ease-out;
      width: 56px;
    }

    svg {
      bottom: 2px;
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.75));
      opacity: 0;
      position: absolute;
      right: 6px;
      transition: opacity 150ms ease-out;
    }
  }
}
