.header {
  align-items: center;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;

  a,
  button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: var(--content-padding);
  }
}

.text {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 var(--content-padding);
  scroll-behavior: smooth;

  pre {
    &:last-child {
      padding-bottom: 96px;
    }
  }
}

.newPage {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  top: -80px;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 16px;
  width: 64px;
}

.footer {
  border-top: 1px solid var(--color-border);
  min-height: 106px;
  padding: 16px;
  position: relative;

  ul {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  li {
    align-items: center;
    display: flex;
    height: 74px;
    padding: 0 4px;
    scroll-snap-align: center;

    &:first-child {
      margin-left: 50vw;
    }

    &:last-child {
      margin-right: 50vw;
    }

    img {
      border-radius: 4px;
      display: block;
      transform: scale(0.865);
      transition: transform 150ms ease-out;
      width: 56px;
    }

    &.active {
      img {
        transform: none;
      }
    }
  }
}
