.temp {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  overflow-y: scroll;
  padding: 0 var(--content-padding);
  scroll-snap-type: y mandatory;

  pre {
    scroll-snap-align: start;

    &:first-child {
      margin-top: 32px;
      padding-top: 16px;
    }

    &:last-child {
      scroll-snap-align: end;
      margin-bottom: 32px;
      padding-bottom: 16px;
    }
  }
}

.thumbnails {
  border-top: 1px solid var(--color-border);
  display: flex;
  padding: 16px;

  img {
    border-radius: 4px;
    margin-right: 8px;
    width: 48px;
  }
}
