@import "modern-normalize";

:root {
  font-family:
    system,
    -apple-system,
    Roboto,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-black: #0a0a0a;
  --color-gray-200: #eeecec;
  --color-gray-300: #cecaca;
  --color-gray-400: #aaa2a2;
  --color-gray-500: #776e6e;
  --color-gray-600: #5d5656;
  --color-gray-700: #403b3b;
  --color-green-500: #00a982;
  --color-white: #fff;

  --color-background: var(--color-black);
  --color-background-accent: var(--color-green-500);
  --color-border: var(--color-gray-700);
  --color-text: var(--color-white);
  --color-text-muted: var(--color-gray-400);

  @media (prefers-color-scheme: light) {
    --color-background: var(--color-white);
    --color-background-accent: var(--color-green-500);
    --color-border: var(--color-gray-300);
    --color-text: var(--color-black);
    --color-text-muted: var(--color-gray-600);
  }

  --content-padding: 16px;
}

button,
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

pre {
  width: 100%;
  overflow-wrap: break-word;
  text-wrap: wrap;
}
