@import "modern-normalize";

:root {
  font-family:
    system,
    -apple-system,
    Roboto,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --content-padding: 16px;
}

button,
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
}

body {
  background: #000;
  color: #fff;

  @media (prefers-color-scheme: light) {
    background: #fff;
    color: #000;
  }
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

pre {
  width: 100%;
  overflow-wrap: break-word;
  text-wrap: wrap;
}
