.header {
  background: var(--color-background);
  padding: var(--content-padding);
}

.list {
  border-top: 1px solid var(--color-border);
  flex-grow: 1;
  overflow-y: scroll;

  li {
    align-items: center;
    display: flex;

    &:first-child {
      padding-top: 4px;
    }

    &:last-child {
      padding-bottom: 96px;
    }
  }

  .docLink {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 12px var(--content-padding);
  }

  .docMenuLink {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    min-width: 48px;
  }

  .thumbnailWrapper {
    flex-shrink: 0;
    margin-right: 8px;
    min-height: 64px;
    width: 48px;
  }

  img {
    border-radius: 4px;
    display: block;
    width: 100%;
  }

  .description {
    display: grid;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: var(--color-text-muted);
  }
}

.new {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  bottom: 32px;
  color: var(--color-text-button);
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 16px;
  width: 64px;
}
