.header {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  padding: var(--content-padding);
  top: 0;
}

.list {
  margin-top: 4px;

  .link {
    align-items: center;
    display: flex;
    padding: 12px var(--content-padding);
  }

  img {
    border-radius: 4px;
    margin-right: 8px;
    width: 48px;
  }

  div {
    display: grid;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: var(--color-text-muted);
  }
}

.new {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  bottom: 16px;
  display: flex;
  height: 64px;
  justify-content: center;
  position: fixed;
  right: 16px;
  width: 64px;
}
