.header {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  padding: var(--content-padding);
}

.list {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  li {
    align-items: center;
    display: flex;

    &:first-child {
      margin-top: 32px;
      padding-top: 4px;
      scroll-snap-align: start;
    }

    &:last-child {
      margin-bottom: 32px;
      padding-bottom: 96px;
      scroll-snap-align: end;
    }
  }

  .docLink {
    align-items: center;
    display: flex;
    padding: 12px var(--content-padding);
  }

  .docMenuLink {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    min-width: 48px;
  }

  img {
    border-radius: 4px;
    margin-right: 8px;
    width: 48px;
  }

  div {
    display: grid;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: var(--color-text-muted);
  }
}

.new {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  bottom: 16px;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 16px;
  width: 64px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: fixed;
}

.content {
  &::before {
    content: "";
    display: block;
    background: var(--color-border);
    width: 48px;
    height: 4px;
    margin: 8px auto var(--content-padding);
    border-radius: 2px;
  }

  background: var(--color-background-muted);
  border-radius: 8px 8px 0;
  bottom: 0;
  left: 0;
  padding: 0 var(--content-padding) var(--content-padding);
  position: fixed;
  right: 0;

  h1 {
    border-bottom: 1px solid var(--color-border);
    font-size: 20px;
    margin-bottom: 8px;
    padding-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a,
  button {
    display: flex;
    align-items: center;
    height: 48px;

    svg {
      margin: 0 6px 0 -3px;
    }
  }
}

.delete {
  color: var(--color-text-danger);
}
