.header {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  padding: var(--content-padding);
}

.list {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  li {
    &:first-child {
      margin-top: 32px;
      padding-top: 4px;
      scroll-snap-align: start;
    }

    &:last-child {
      margin-bottom: 32px;
      padding-bottom: 96px;
      scroll-snap-align: end;
    }
  }

  .link {
    align-items: center;
    display: flex;
    padding: 12px var(--content-padding);
  }

  img {
    border-radius: 4px;
    margin-right: 8px;
    width: 48px;
  }

  div {
    display: grid;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: var(--color-text-muted);
  }
}

.new {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  bottom: 16px;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 16px;
  width: 64px;
}
