.header {
  align-items: center;
  background: var(--color-background);
  display: flex;

  > a,
  > button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }
}

.searchInput {
  background: var(--color-background-muted);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-right: var(--content-padding);
  padding: 0 4px 0 12px;
  width: 100%;

  input {
    flex-grow: 1;
    height: 100%;
  }

  button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 40px;
  }
}

.content {
  border-top: 1px solid var(--color-border);
  flex-grow: 1;
  overflow-y: scroll;
}

.message {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: var(--content-padding);
}

.delayed {
  animation: delayed 150ms 1s ease-in 1 forwards;
  opacity: 0;
}

@keyframes delayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list {
  li {
    &:first-child {
      padding-top: 4px;
    }

    &:last-child {
      padding-bottom: 96px;
    }

    > div {
      align-items: center;
      display: flex;
    }
  }

  .docLink {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 12px var(--content-padding);
  }

  .docMenuLink {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    min-width: 48px;
  }

  .thumbnailWrapper {
    flex-shrink: 0;
    margin-right: 8px;
    min-height: 64px;
    width: 48px;
  }

  img {
    border-radius: 4px;
    display: block;
    width: 100%;
  }

  .description {
    display: grid;
  }

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .metadata {
    color: var(--color-text-muted);
  }

  li > a {
    display: block;
    padding: 8px var(--content-padding);
  }
}

.new {
  align-items: center;
  background: var(--color-background-accent);
  border-radius: 32px;
  bottom: 32px;
  color: var(--color-text-button);
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 16px;
  width: 64px;
}
